
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato:ital,wght@1,900&family=PT+Serif:ital@1&display=swap');
body{
    background-color: antiquewhite;
}


*{
    margin: 0;
    padding: 0;
}

nav{
font-family: Lato,PT+Serif,;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 64px;
    background-color: rgb(1, 22, 15);
    color: rgb(255, 255, 255);
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 73vh;
    background-color: black;
    color: white;
    font-family: 'varela round',sans-serif;
    display:flex;
    margin-top: 23px auto;
    width: 80;
    border-radius: 13px;
    padding: 34px;
    background-image: url('https://media.istockphoto.com/id/1030412264/photo/lonely-beautiful-young-woman-listen-music-and-relaxing-with-meditation-and-concentration.jpg?s=1024x1024&w=is&k=20&c=AIx1maxzzzFYBK334HPX6X8KPSh_0tBvMnO8NdXea0g=');
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
#myprogressbar{
    width: 80vw;
    text-align: center;
}
.songItemcontainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 80%;
    color:white;
    margin: 12px 0;
    margin-left: 120px;
    margin-inline-end: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem image{
    width: 43px;
    margin: 0 13px;
    border-radius: 14px;
}
.timestamp{
    margin: 0 73px;
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 10vw;
}
.songinfo img{
    opacity: 0;
    transition: opacity is ease-in;
}